import { useEffect, useState } from "react";

/* default = light mode */
body {
  background-color: #fff;
  color: #000;
}

/* dark mode */
body.dark {
  background-color: #000;
  color: #fff;
}

/* inputs */
body.dark input,
body.dark textarea {
  background: #111;
  color: #fff;
  border: 1px solid #444;
}

/* blocks */
body.dark .block,
body.dark .block-title,
body.dark .category-box {
  background: #111;
}

/* buttons */
body.dark button {
  background: #222;
  color: #fff;
  border: 1px solid #555;
}
